[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
retries = 0
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o NumberOfPasswordPrompts=1 -o ConnectTimeout=10
