REACT_APP_BASE_BACKEND_URL=__ANSIBLE_BASE_BACKEND_URL__
REACT_APP_FILE_PROXY_SERVICE_URL=__ANSIBLE_FILE_PROXY_SERVICE_URL__
REACT_APP_FILTERS_SERVICE_URL=__ANSIBLE_FILTERS_SERVICE_URL__

VITE_BASE_BACKEND_URL=__ANSIBLE_BASE_BACKEND_URL__
VITE_FILE_PROXY_SERVICE_URL=__ANSIBLE_FILE_PROXY_SERVICE_URL__
VITE_FILTERS_SERVICE_URL=__ANSIBLE_FILTERS_SERVICE_URL__

VITE_SESSION_TIMEOUT=240
VITE_IP_SUBCOMPANY_STATUS_CHANGES_INTERVAL=20
VITE_SESSION_MONTHLY_PLANNING_TIMEOUT=30

VITE_BUILD_VERSION=проставится автоматически при выполнении скрипта
VITE_USER_FILE_QUOTA_LIMIT=1024
